# Environment Variables for project

RPC_URL=https://orchard.rpc.quai.network
CHAIN_ID=15000
CYPRUS1_PK=YOUR_PRIVATE_KEY
INITIAL_OWNER=YOUR_ADDRESS

NEXT_PUBLIC_DEPLOYED_CONTRACT=YOUR_CONTRACT_ADDRESS